h1 {
  text-transform: uppercase;
  font-weight: bolder;
}
.body {
  display: flex;
  gap: 20px;
}
.body > div {
  flex: 1;
}
.body > div > div {
  width: 100%;
  overflow-wrap: break-word;
}
img {
  width: 100px;
  height: 100px;
}
.space {
  height: 300px;
  width: 300px;
  background: blue;
  border-radius: 10px;
}
.left {
  width: 368px;
}
.right {
  display: flex;
  gap: 10px;
}

i {
  color: yellow;
  font-size: 500px;
}
