.head {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}
.space {
  width: 500px;
  height: 350px;
  background-color: blue;
  margin: 60px 0;
}
.line {
  width: 70px;
  height: 5px;
  background: blue;
}
h1 {
  font-size: 50px;
}
i {
  color: blue;
}
.end {
  display: inline-block;
  width: 30%;
}
